.character-name {
  font-size:x-large !important;
}
.character-description {
  font-size: small !important;
}
.main {
  margin-right: 300px;
}
.panel {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top:0;
  right:0;
  border-left-style:groove;
  overflow: auto;
  
}
.window {
  margin: 10px;
  padding:10px;
  border: 1px solid black;
  height: 80%;
  overflow: auto;
}
.window>div {
  margin-bottom: 10px;
  border-bottom: 1px dashed black;
}
.invisible {
  display: none;
}

.inventory {
  display: flex;
  justify-content: space-evenly;
}

header, .centered {
  text-align: center;
}

span[contentEditable=true] {
  border:solid 1px grey;
  min-width: 25px;
  display:inline-block;
}

.writable {
  border-bottom: solid 1px black;
  min-width: 25px;
  min-height: 25px;
  display:inline-block;
  margin-right: 10px;
}